.list {
  margin: -10px -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.item {
  margin: 10px 15px;
  opacity: 0.7;
}

.link {
  color: var(--color-main-text-dark);
  font-weight: bold;
}

.active {
  opacity: 1;
}

.light .link {
  color: var(--color-text-light);
}
