html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-main-text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}
