:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-main-text-dark: #05000B;
  --color-text-light: #FFFFFF;
  --color-text-gray: #A6A6A6;
  --color-accent: #1F37FF;
  --color-special: #FF5A05;
  --color-special-darken: #f8290e;
  --color-special-darkest: #e63a06;
  --color-blue-gradient: linear-gradient(264.47deg, #2E43F0 29.39%, #6677FF 93.49%);
  --color-opacity-white: rgba(255, 255, 255, 0.3);
  --color-dark-blue: #000848;
  --color-background-cream: #FFF9F5;
  --color-background-dark-cream: #FDEEE7;
  --color-button-cream: rgba(255, 90, 5, 0.1);
  --color-border-gray-1: rgba(66, 82, 207, 0.1);
  --color-border-gray-2: rgba(5, 0, 11, 0.1);
  --color-background-sky: #EBEDFF;

  /* viewports */
  --max-width: 1920px;
  --max-desktop-width: 1365px;
  --max-tablet-width: 1023px;
  --max-mobile-width: 767px;

  /* animation */
  --duration-fast: 0.3s;
}
