:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-main-text-dark: #05000B;
  --color-text-light: #FFFFFF;
  --color-accent: #1F37FF;
  --color-special: #FF5A05;
  --color-blue-gradient: linear-gradient(264.47deg, #2E43F0 29.39%, #6677FF 93.49%);

  /* viewports */
}
