.wrapper {
  padding: 20px 50px;
  border: 1px solid var(--color-border-gray-2);
  border-radius: 4px;
}

.wrapper form {
  text-align: left;
}

.wrapper label {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: var(--color-main-text-dark);
  opacity: 0.8;
}

.wrapper input,
.wrapper textarea {
  margin-bottom: 15px;
  padding: 12px 30px 12px 30px;
  display: block;
  width: 100%;
  border: 1px solid rgba(66, 82, 207, 0.1);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: inherit;
  opacity: 0.9;
  background-color: transparent;
  transition: all var(--duration-fast);
}

.wrapper textarea {
  height: 130px;
  resize: none;
}

.wrapper input:hover {
  opacity: 1;
}

.wrapper input::placeholder,
.wrapper textarea::placeholder {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--color-text-gray);
  transition: color var(--duration-fast);
}

.wrapper input:hover::placeholder {
  color: inherit;
}

.wrapper button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 100%;
}
