.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 270px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-dark-blue);
}

.logo {
  margin-bottom: 25px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.linksBlock {
  width: 65%;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.linksList {
  margin-right: 30px;
}
